body {
  font-family: 'Slabo 27px', serif;
}

header {
  background-color: #824e4e;
  color: whitesmoke;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

#header-text {
  display: inline;
  position: relative;
  left: 100px;
}

nav {
  float: right;
  position: relative;
  right: 100px;
  top: 5px;
}

nav > a:link, nav > a:visited {
  font-size: 1.15em;
  margin: 10px 15px;
  text-decoration: none;
  color: whitesmoke;
}

nav > a:hover {
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
}

nav > a:active {
  font-weight: bold;
  text-decoration: none;
  color: #c2ae95;
}

.fade {
  opacity: 1;
}

footer {
  text-align: center;
  vertical-align: center;
  padding: 10px;
}

#page-footer {
  background-color: #7f825f;
  color: whitesmoke;
  position: relative;
  bottom: 0;
}

#footer-text {
  font-size: 1.05em;
  position: relative;
  top: 5px;
}

#footer-icons {
  text-align: center;
}

#footer-icons > a:link, #footer-icons > a:visited {
  color: #c2ae95;
}

#footer-icons > a:hover, #footer-icons > a:active {
  color: #824e4e;
}

.fa {
  font-size: 36px;
  margin: 0px 5px;
}

section {
  display: block;
  padding: 30px 30px;
}

#photo {
  float: right;
  width: 50%;
  text-align: center;
  background-color: whitesmoke;
}

.img-thumbnail {
  height: 325px;
}

#bio {
  padding-left: 175px;
  float: left;
  width: 50%;
  background-color: whitesmoke;
}

#interests {
  background-color: #c2ae95;
  text-align: center;
}

#interests > p {
  font-size: 1.25em;
}

#quote {
  background-color: #66777d;
  text-align: center;
  color: floralwhite;
  font-family: 'Special Elite', cursive;
}

.quote {
  font-size: 1.25em;
}

.byline {
  font-size: 1.05em;
}

#contact-form {
  background-color: #c2ae95;
  float: left;
  width: 60%;
  padding-right: 75px;
}

#contactForm {
  text-align: center;
}

form > label {
  font-size: 1.15em;
  font-weight: normal;
}

input.form-control {
  width: 300px;
}

label.to-right {
  position: relative;
  left: 50px;
}

label.to-left {
  position: relative;
  left: -50px;
}

#contact-info {
  background-color: #66777d;
  color: whitesmoke;
  float: right;
  width: 40%;
}

div.clear-float {
  clear: both;
}