body {
  font-family: 'Slabo 27px', serif;
}

header {
  background-color: aliceblue;
  padding: 5px;
}

nav {
  background-color: azure;
	padding: 5px;
}

nav > ul {
  list-style-type: none;
}

nav > ul > li {
  margin: 5px;
  padding: 5px 0px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

nav > ul > li > a:hover {
  color: aquamarine;
  font-weight: bold;
}

.tab-pane {
  height: 450px;
}

footer {
  background-color: aliceblue;
  padding: 5px;
}

#header-text {
  text-align: center;
}

#footer-text {
  text-align: center;
}

a.selected {
  font-weight: bold;
}