body {
  font-family: 'Slabo 27px', serif;
}

header {
  background-color: #A9B7C0;
  color: whitesmoke;
  padding: 10px;
}

nav {
  float: right;
  position: relative;
  right: 100px;
  top: 5px;
}

nav > a {
  font-size: 1.15em;
  margin: 10px 15px;
  text-decoration: none;
  color: whitesmoke;
}

nav > a:hover {
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
}

.tab-pane {
  padding: 15px;
  background-color: #CCCBC6;
}

footer {
  text-align: center;
  vertical-align: center;
  padding: 5px;
}

#page-footer {
  background-color: #C7D8C6;
  color: whitesmoke;
  position: relative;
  bottom: 0;
}

#footer-text {
  font-size: 1.05em;
  position: relative;
  top: 5px;
}

#header-text {
  display: inline;
  position: relative;
  left: 100px;
}

#personalInfo {
  width: 19%;
  float: left;
}

#posts {
  width: 80%;
  float: right;
  padding: 15px;
}

.clear-float {
  clear: both;
}